*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(219deg, 9%, 45%);
}

img {
  max-width: 100%;
  height: 100%;
  pointer-events: none;
}

h1 {
  font-size: 36px;
  color: #000;
}

h2 {
  font-size: 30px;
  color: #000;
}

h3 {
  font-size: 12px;
  color: hsl(26deg, 100%, 55%);
}

h4 {
  font-size: 16px;
  color: #000;
}

h5 {
  font-size: 13px;
  font-weight: 300;
}

p {
  color: hsl(219deg, 9%, 45%);
}

.primary-btn {
  grid-gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 1rem;
  background-color: hsl(26deg, 100%, 55%);
  font-size: 14px;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  transition: background-color 0.2s;
  box-shadow: 0 16px 16px 1px rgba(255, 125, 26, 0.2);
  border-radius: 12px;
}
.primary-btn img {
  width: 18px;
  filter: brightness(0) invert(1);
}
.primary-btn:hover {
  background-color: rgba(255, 125, 26, 0.5);
}
.primary-btn--cart {
  box-shadow: none;
}

@media (max-width: 780px) {
  .media-adjust {
    width: 250px;
  }
}
@media (max-width: 560px) {
  .media-adjust {
    width: 100%;
  }
}

.dropdown {
  position: relative;
}
.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 30;
  width: 320px;
  background-color: hsl(223deg, 64%, 98%);
  transform: translateX(-50%);
  transition: opacity 0.2s, transform 0.2s;
  pointer-events: none;
  border-radius: 12px;
  opacity: 0;
}
@media (max-width: 964px) {
  .dropdown__menu {
    transform: translateX(-78%);
    left: 100%;
  }
}
@media (max-width: 376px) {
  .dropdown__menu {
    top: 70px;
    left: 10px;
    right: 10px;
    width: auto;
    transform: translateX(0);
  }
}
.dropdown__btn {
  position: relative;
  padding: 0.5rem 0;
}
.dropdown__btn img {
  transition: filter 0.2s;
}
.dropdown__btn:hover > img {
  filter: brightness(0) invert(0);
}
.dropdown__btn-indicator {
  position: absolute;
  top: 0.1rem;
  right: -50%;
  padding: 0 0.4rem;
  background-color: hsl(26deg, 100%, 55%);
  font-size: 11px;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  opacity: 0;
}
.dropdown.active-dropdown > .dropdown__btn > img {
  filter: brightness(0) invert(0);
}
.dropdown.active-dropdown > .dropdown__btn + .dropdown__menu {
  opacity: 1;
  transform: translate(-50%, 1rem);
  pointer-events: auto;
}
@media (max-width: 964px) {
  .dropdown.active-dropdown > .dropdown__btn + .dropdown__menu {
    transform: translate(-78%, 1rem);
  }
}
@media (max-width: 376px) {
  .dropdown.active-dropdown > .dropdown__btn + .dropdown__menu {
    transform: translateY(1rem);
  }
}
.dropdown__title {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
.dropdown__details {
  max-height: 200px;
  padding: 1rem 1.5rem 0 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown__product {
  display: grid;
  grid-template-columns: 1.8fr 2fr 5fr 0.5fr;
  align-items: center;
  grid-column-gap: 0.5rem;
  padding-bottom: 1rem;
}
.dropdown__product h5 {
  grid-column: 2/span 2;
}
.dropdown__product p {
  font-size: 13px;
}
.dropdown__img {
  grid-row: 1/span 2;
  height: auto;
  width: 100%;
  border-radius: 4px;
}
.dropdown__delete {
  grid-row: 1/span 2;
  grid-column: 4/span 1;
  padding: 0.5rem 0;
}
.dropdown__delete img {
  height: auto;
  width: 100%;
}
.dropdown__total {
  color: #000;
  font-weight: 700;
}
.dropdown__checkout {
  padding: 0 1rem 1rem 1rem;
}
.dropdown__empty {
  padding: 4rem 0;
  text-align: center;
  font-weight: 700;
}
@media (max-width: 376px) {
  .dropdown {
    position: static;
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 0.2s;
  opacity: 0;
}
.lightbox__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 550px;
  transform: translate(-50%, -50%);
}
.lightbox__arrow {
  position: absolute;
  top: 50%;
  padding: 1rem 1.3rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
}
.lightbox__arrow--previous {
  left: 0;
  transform: translate(-50%, -50%);
}
.lightbox__arrow--next {
  right: 0;
  transform: translate(50%, -50%);
}
.lightbox__arrow > img {
  transition: filter 0.2s;
}
.lightbox__arrow:hover > img {
  filter: invert(52%) sepia(55%) saturate(1476%) hue-rotate(347deg) brightness(101%) contrast(101%);
}
.lightbox__close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
.lightbox__close > button {
  padding-bottom: 0.5rem;
}
.lightbox__close > button > img {
  height: 18px;
  filter: brightness(0) invert(1);
}
.lightbox__close > button:hover > img {
  filter: invert(52%) sepia(55%) saturate(1476%) hue-rotate(347deg) brightness(101%) contrast(101%);
}
.lightbox.active-lightbox {
  opacity: 1;
  z-index: 100;
}

.mobile-arrow {
  display: none;
  padding: 0.7rem 1rem;
}
.mobile-arrow img {
  width: 10px;
}
.mobile-arrow__left {
  transform: translate(30%, -50%);
}
.mobile-arrow__right {
  transform: translate(-30%, -50%);
}
@media (max-width: 780px) {
  .mobile-arrow {
    display: block;
  }
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
  margin: 0 auto 1rem auto;
  padding: 1.5rem 0;
  max-width: 80vw;
}
.header--border {
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
@media (max-width: 780px) {
  .header--border {
    border-bottom: none;
  }
}
.header__item {
  grid-gap: 3rem;
}
@media (max-width: 1200px) {
  .header__item {
    grid-gap: 1rem;
  }
}
.header__nav {
  grid-gap: 2rem;
}
.header__nav li {
  position: relative;
}
.header__nav li span {
  position: absolute;
  bottom: -2.36rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 10%;
  height: 3px;
  background-color: hsl(26deg, 100%, 55%);
  transition: background-color 0.2s, opacity 0.2s, width 0.2s;
  opacity: 0;
}
@media (max-width: 780px) {
  .header__nav li span {
    bottom: -0.2rem;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    grid-gap: 1.5rem;
  }
}
@media (max-width: 780px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    padding: 2rem;
    background-color: hsl(0deg, 0%, 100%);
    transition: transform 0.3s;
    transform: translateX(-100%);
  }
}
.header__profile {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.header__profile:hover {
  outline: 2px solid hsl(26deg, 100%, 55%);
}
.header__profile img {
  width: 100%;
  max-height: 100%;
}
.header__link {
  padding: 0.5rem 0;
}
.header__link:hover + span {
  width: 100%;
  opacity: 1;
}
@media (max-width: 780px) {
  .header__link {
    color: hsl(0deg, 0%, 0%);
    font-weight: 700;
  }
}
@media (max-width: 1200px) {
  .header {
    grid-gap: 1.5rem;
  }
}
@media (max-width: 964px) {
  .header {
    max-width: 90vw;
  }
}
@media (max-width: 780px) {
  .header {
    max-width: 100%;
    margin: 0;
    padding: 1rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.product {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
  margin: 5rem auto;
  max-width: 70vw;
}
.product__img {
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 24px;
}
.product__img-btn {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  border-radius: 24px;
}
.product__img-btn img {
  border-radius: 24px;
}
.product__img-btn--lightbox {
  cursor: default;
}
@media (max-width: 780px) {
  .product__img-btn {
    display: none;
  }
}
@media (max-width: 780px) {
  .product__img {
    width: 100%;
    margin-bottom: 0;
    height: 350px;
    border-radius: 0;
  }
  .product__img-btn {
    cursor: default;
  }
  .product__img-btn > img {
    width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 0;
  }
}
@media (max-width: 440px) {
  .product__img {
    height: 300px;
  }
}
.product__img-mobile {
  display: none;
}
@media (max-width: 780px) {
  .product__img-mobile {
    display: block;
    width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.product__thumbnails {
  display: flex;
  grid-gap: 1.5rem;
  width: 100%;
}
.product__thumbnails img {
  border-radius: 12px;
}
.product__thumbnails--lightbox {
  width: 75%;
  margin: auto;
}
@media (max-width: 780px) {
  .product__thumbnails {
    display: none;
  }
}
.product__thumbnail {
  position: relative;
  border-radius: 12px;
}
.product__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsl(223deg, 64%, 98%);
  transition: opacity 0.2s;
  border-radius: 12px;
  opacity: 0;
}
.product__thumbnail:not(.active-thumbnail):hover::after {
  opacity: 0.5;
}
.product__thumbnail.active-thumbnail {
  outline: 3px solid hsl(26deg, 100%, 55%);
}
.product__thumbnail.active-thumbnail::after {
  opacity: 0.7;
}
.product__details {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}
@media (max-width: 780px) {
  .product__details {
    padding: 0 4rem;
  }
}
@media (max-width: 560px) {
  .product__details {
    padding: 0 2rem;
  }
}
.product__header > h3 {
  margin-bottom: 1rem;
}
.product__price {
  display: flex;
  flex-direction: column;
}
.product__price span {
  margin-left: 0.8rem;
  padding: 0.2rem;
  background-color: hsl(25deg, 100%, 94%);
  font-weight: 700;
  color: hsl(26deg, 100%, 55%);
  border-radius: 6px;
}
.product__price p {
  margin-top: 0.4rem;
  text-decoration: line-through;
  font-weight: 700;
  color: hsl(220deg, 14%, 75%);
}
@media (max-width: 440px) {
  .product__price {
    flex-direction: row;
    justify-content: space-between;
  }
}
.product__adding {
  grid-gap: 1rem;
}
@media (max-width: 440px) {
  .product__adding {
    flex-direction: column;
  }
}
.product__quantity {
  grid-gap: 1.6rem;
  height: 50px;
  padding: 0 0.5rem;
  background-color: hsl(223deg, 64%, 98%);
  border-radius: 12px;
}
.product__quantity button {
  width: 30px;
  padding: 0.6rem;
  transition: filter 0.2s;
}
.product__quantity button:hover {
  filter: brightness(150%);
}
.product__quantity button img {
  width: 100%;
  height: auto;
}
.product__quantity p {
  width: 20px;
  text-align: center;
  color: #000;
  font-weight: 700;
}
@media (max-width: 440px) {
  .product__quantity {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  .product {
    grid-gap: 5rem;
    max-width: 80vw;
  }
}
@media (max-width: 964px) {
  .product {
    grid-gap: 2rem;
    max-width: 90vw;
  }
}
@media (max-width: 780px) {
  .product {
    grid-template-columns: 1fr;
    margin: 0 auto 4rem auto;
    max-width: 100%;
  }
}

.mobile-menu__btn {
  display: none;
  padding: 0 0.5rem;
}
@media (max-width: 780px) {
  .mobile-menu__btn {
    display: inline-block;
  }
}
@media (max-width: 780px) {
  .mobile-menu__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 40;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transform: translateX(-100%);
    transition: opacity 0.3s;
    opacity: 1;
  }
}
.mobile-menu__nav.active-menu {
  opacity: 1;
  transform: translateX(0);
}
.mobile-menu__nav.active-menu > .header__nav {
  transform: translateX(0);
}
.mobile-menu__close {
  display: none;
  margin-bottom: 2rem;
  width: 100%;
}
.mobile-menu__close button {
  padding: 0.5rem 0;
}
@media (max-width: 780px) {
  .mobile-menu__close {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */