.product {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8rem;

    margin: 5rem auto;
    max-width: 70vw;

    &__img {
        position: relative;

        margin-bottom: 1.5rem;

        border-radius: 24px;

        &-btn {
            width: 100%;
            height: 100%;

            cursor: zoom-in;
            border-radius: 24px;

            img {
                border-radius: 24px;
            }

            &--lightbox {
                cursor: default;
            }

            @include media-tablet-sm {
                display: none;
            }
        }      

        @include media-tablet-sm {
            width: 100%;
            margin-bottom: 0;
            height: 350px;

            border-radius: 0;

            &-btn {
                cursor: default;

                & > img {
                    object-fit: cover;
                    object-position: center;

                    width: 100%;
                    max-height: 100%;
                    
                    border-radius: 0;
                }
            } 
        }

        @include media-phone-sm {
            height: 300px;
        }

        &-mobile {
            display: none;

            @include media-tablet-sm {
                display: block;
                object-fit: cover;
                object-position: center;

                width: 100%;
                max-height: 100%;      
            }
        }
    }


    &__thumbnails {
        display: flex;
        grid-gap: 1.5rem;
        
        width: 100%;

        img {
            border-radius: 12px;
        }

        &--lightbox {
            width: 75%;
            margin: auto;
        }

        @include media-tablet-sm {
            display: none;
        }
    }

    &__thumbnail {
        position: relative;

        border-radius: 12px;

        &::after { 
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            background-color: $light-grayish-blue;

            transition: opacity .2s;

            border-radius: 12px;
            opacity: 0;
        }

        &:not(.active-thumbnail):hover::after {
            opacity: .5;
        } 

        &.active-thumbnail {
            outline: 3px solid $primary-orange;

            &::after {
                opacity: .7;
            } 
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;

        @include media-tablet-sm {
            padding: 0 4rem;
        }

        @include media-phone-md {
            padding: 0 2rem;
        }
    }

    &__header > h3 {
        margin-bottom: 1rem;
    }

    &__price {
        display: flex;
        flex-direction: column;

        span {
            margin-left: .8rem;
            padding: .2rem;
            background-color: $primary-pale-orange;

            font-weight: 700;
            color: $primary-orange;

            border-radius: 6px;
        }

        p {        
            margin-top: .4rem;

            text-decoration: line-through;
            font-weight: 700;
            color: $grayish-blue;
        }

        @include media-phone-sm {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__adding {
        grid-gap: 1rem;

        @include media-phone-sm {
            flex-direction: column;
        }
    }

    &__quantity {
        grid-gap: 1.6rem;

        height: 50px;
        padding: 0 .5rem;
       
        background-color: $light-grayish-blue;

        border-radius: 12px;

        button {
            width: 30px;
            padding: .6rem;

            transition: filter .2s;

            &:hover {
                filter: brightness(150%);
            }

            img {
                width: 100%;
                height: auto; 
            }
        }

        p {
            width: 20px;

            text-align: center;
            color: #000;
            font-weight: 700;
        }

        @include media-phone-sm {
            justify-content: space-between;
            
            width: 100%;
        }
    }

    @include media-tablet-lg {
        grid-gap: 5rem;

        max-width: 80vw;
    }

    @include media-tablet-md {
        grid-gap: 2rem;

        max-width: 90vw;
    }

    @include media-tablet-sm {
        grid-template-columns: 1fr;

        margin: 0 auto 4rem auto;
        max-width: 100%;
    }
}